body {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1D1D2C;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.App {
  padding: 4rem;
  width: 65vw;
}

.Lists {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .App {
    width: 90vw;
    padding: 1rem; /* kenarlarda biraz boşluk için */
  }
}

